In [2]:
library(stringr)

library(dplyr)

library(ggplot2)

sixteen_df <- read.csv("sqf-2016.csv")

Warning message:
“package ‘dplyr’ was built under R version 4.0.2”

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


Warning message:
“package ‘ggplot2’ was built under R version 4.0.1”

In [3]:
head(sixteen_df)

  year pct ser_num datestop timestop recstat inout trhsloc perobs crimsusp    ⋯
1 2016 41  22      2072016  100      A       O     P       1      BURG        ⋯
2 2016 10  22      2182016   30      1       O     P       8      MISDEMEANOR ⋯
3 2016 66   1      1012016   30      1       I     P       2      FEL         ⋯
4 2016 47  18      1012016   40      1       O     H       1      FEL         ⋯
5 2016 79   1      1012016   50      1       O     P       3      D.W.I.      ⋯
6 2016 73   1      1012016  100      1       O     P       1      FELONY      ⋯
  zip addrpct sector beat post xcoord  ycoord dettypCM lineCM detailCM
1 NA  41      B      2    NA   1013353 234000 CM       1       14
2 NA  10      D           NA    983478 212373 CM       1       28
3 NA  66      F           NA    988340 172111 CM       1        9
4 NA  47      C           NA        NA     NA CM       1       20
5 NA  79      G      4    NA    998197 187413 CM       1      112
6 NA  73      B      2    NA   1008226 186458 CM       1       20

In [15]:
sixteen_df_uniq <- unique(sixteen_df[, c("datestop", "timestop", "crimsusp", "sex", "race", "age", "city", "arstmade")])

In [16]:
head(sixteen_df_uniq, 5)

  datestop timestop crimsusp    sex race age city      arstmade
1 2072016  100      BURG        M   B    48  BRONX     N
2 2182016   30      MISDEMEANOR M   W    20  MANHATTAN N
3 1012016   30      FEL         M   P    34  BROOKLYN  Y
4 1012016   40      FEL         M   B    33  BRONX     N
5 1012016   50      D.W.I.      M   B    22  BROOKLYN  N

In [17]:

quantconvert <- function(v) {
    n <- length(v)
    column <- rep(0, n)
    
    for (i in 1:n) {
        if (v[i] == "Y") {
            column[i] <- 1
        }
        else if (v[i] == "N"){
            column[i] <- 0
        }
    }
    return(column)
}

sixteen_df_uniq$arstmade_num <- quantconvert(sixteen_df_uniq$arstmade)

In [26]:


# Regression below

sixteen_df_uniq$arstmade_num <- factor(sixteen_df_uniq$arstmade_num)

city_arstmade <- glm(arstmade_num ~ city, data = sixteen_df_uniq, family = "binomial")

summary(city_arstmade)

#Note: The high p-values tell us that the above regression coefficients are NOT statistically significant, right?

Call:
glm(formula = arstmade_num ~ city, family = "binomial", data = sixteen_df_uniq)

Deviance Residuals:
    Min       1Q   Median       3Q      Max
-0.7738  -0.7219  -0.6962  -0.6265   1.8573

Coefficients:
              Estimate Std. Error z value Pr(>|z|)
(Intercept)    -10.566    119.468  -0.088    0.930
cityBRONX        9.513    119.468   0.080    0.937
cityBROOKLYN     9.272    119.468   0.078    0.938
cityMANHATTAN    9.354    119.468   0.078    0.938
cityQUEENS       9.038    119.468   0.076    0.940
citySTATEN IS    9.325    119.468   0.078    0.938

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 12459  on 11888  degrees of freedom
Residual deviance: 12404  on 11883  degrees of freedom
AIC: 12416

Number of Fisher Scoring iterations: 9

In [23]:
table(sixteen_df_uniq$city)

              BRONX  BROOKLYN MANHATTAN    QUEENS STATEN IS
        1      2385      3397      2411      3075       620

In [52]:
sixteen_df_uniq$arstmade_num <- factor(sixteen_df_uniq$arstmade_num)

race_arstmade <- glm(arstmade_num ~ race, data = sixteen_df_uniq, family = "binomial")

summary(race_arstmade)

table(sixteen_df_uniq$race)

Call:
glm(formula = arstmade_num ~ race, family = "binomial", data = sixteen_df_uniq)

Deviance Residuals:
    Min       1Q   Median       3Q      Max
-0.7748  -0.6896  -0.6810  -0.5915   1.9367

Coefficients:
            Estimate Std. Error z value Pr(>|z|)
(Intercept)  -10.566    119.468  -0.088    0.930
raceA          8.912    119.468   0.075    0.941
raceB          9.223    119.468   0.077    0.938
raceI          8.892    119.469   0.074    0.941
raceP          9.369    119.468   0.078    0.937
raceQ          9.516    119.468   0.080    0.937
raceU          9.439    119.468   0.079    0.937
raceW          9.251    119.468   0.077    0.938
raceZ          8.857    119.468   0.074    0.941

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 12459  on 11888  degrees of freedom
Residual deviance: 12407  on 11880  degrees of freedom
AIC: 12425

Number of Fisher Scoring iterations: 9

        A    B    I    P    Q    U    W    Z
   1  704 6190   38  845 2661   94 1219  137

In [57]:
sixteen_df_uniq$arstmade_num <- factor(sixteen_df_uniq$arstmade_num)

race_city_arstmade <- glm(arstmade_num ~ race + city, data = sixteen_df_uniq, family = "binomial")

summary(race_city_arstmade)

Call:
glm(formula = arstmade_num ~ race + city, family = "binomial",
    data = sixteen_df_uniq)

Deviance Residuals:
    Min       1Q   Median       3Q      Max
-0.8402  -0.7166  -0.6759  -0.5725   2.0367

Coefficients: (1 not defined because of singularities)
               Estimate Std. Error z value Pr(>|z|)
(Intercept)   -10.56603  119.46804  -0.088   0.9295
raceA           9.10635  119.46813   0.076   0.9392
raceB           9.24568  119.46809   0.077   0.9383
raceI           9.03332  119.46892   0.076   0.9397
raceP           9.36050  119.46811   0.078   0.9375
raceQ           9.54066  119.46809   0.080   0.9363
raceU           9.44197  119.46832   0.079   0.9370
raceW           9.30806  119.46809   0.078   0.9379
raceZ           8.89213  119.46832   0.074   0.9407
cityBRONX       0.16556    0.10955   1.511   0.1307
cityBROOKLYN   -0.03989    0.10651  -0.375   0.7080
cityMANHATTAN   0.02956    0.10962   0.270   0.7874
cityQUEENS     -0.26588    0.10947  -2.429   0.0152 *
citySTATEN IS        NA         NA      NA       NA
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 12459  on 11888  degrees of freedom
Residual deviance: 12366  on 11876  degrees of freedom
AIC: 12392

Number of Fisher Scoring iterations: 9

In [30]:
#Paul says to filter out the rows with empty city columns and then re-run regression

sixteen_df_uniq_cln <- filter(sixteen_df_uniq, sixteen_df_uniq$city != " ")



sixteen_df_uniq_cln$arstmade_num <- factor(sixteen_df_uniq_cln$arstmade_num)

city_arstmade2 <- glm(arstmade_num ~ city, data = sixteen_df_uniq_cln, family = "binomial")

summary(city_arstmade2)

Call:
glm(formula = arstmade_num ~ city, family = "binomial", data = sixteen_df_uniq_cln)

Deviance Residuals:
    Min       1Q   Median       3Q      Max
-0.7738  -0.7219  -0.6962  -0.6265   1.8573

Coefficients:
              Estimate Std. Error z value Pr(>|z|)
(Intercept)   -1.05274    0.04676 -22.514  < 2e-16 ***
cityBROOKLYN  -0.24119    0.06269  -3.848 0.000119 ***
cityMANHATTAN -0.15916    0.06733  -2.364 0.018077 *
cityQUEENS    -0.47578    0.06638  -7.167 7.67e-13 ***
citySTATEN IS -0.18866    0.10705  -1.762 0.078011 .
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 12458  on 11887  degrees of freedom
Residual deviance: 12404  on 11883  degrees of freedom
AIC: 12414

Number of Fisher Scoring iterations: 4

In [34]:
#filter out the z which is other and " "

sixteen_df_uniq_cln2 <- filter(sixteen_df_uniq_cln


sixteen_df_uniq_cln2$arstmade_num <- factor(sixteen_df_uniq_cln2$arstmade_num)

race_arstmade <- glm(arstmade_num ~ race, data = sixteen_df_uniq_cln2, family = "binomial")

summary(race_arstmade)

table(sixteen_df_uniq_cln2$race)

ERROR: Error in parse(text = x, srcfile = src): <text>:3:55: unexpected symbol
2:
3: sixteen_df_uniq_cln2 <- filter(, sixteen_df_uniq$race c
                                                         ^

In [39]:
unique(sixteen_df_uniq$race)

[1] "B" "W" "P" "A" "Q" "U" "Z" "I" " "